1
2
3
4
5
#---------------------------------------------------------
# Potential requirements.
# pip3 install -r requirements.txt
#---------------------------------------------------------
speedtest-cli
